    
.allocate_inventory,.allocate_priority{
    display:none;
}

.yellow{
    color:#e0cf00;
}
.black{
    color:#3a3a3a;
}


/* For capital Lettes*/
.captialize,.capitalize,#customers_view_table tr td:nth-child(1){
    
    text-transform: capitalize;
}  
/*.capitalize{
    
    text-transform: capitalize;
}  
#customers_view_table tr td:nth-child(1) {
    text-transform: capitalize;
}*/
/* End capital Lettes*/
/* Strats shipstaton page */

.margin-left-0 {
    margin-left :0px !important;
}
.shipanchor {
    display: inline-block;
} 
.ship-iframe {
  border: medium none;
  height: 100%;
  width: 100%;
}
.shipmainfile {
    padding: 0px !important
}
.shipstation-index { 
    height: 100vh;
}

/* Strats category */

.dd3-content.div-dd3-content {
    height: 36px;
}
.span-nested-display {
    display: -moz-inline-box;
}

/* Strats Order invoice */
.f-22 {
    font-size: 22px !important;
}
.incoice-staus {
    padding: 5px;
}
.company-details-invoice {
    float: left;
    padding: 11px 0 0 6px;
    text-align: left;
}

.company-details-invoice span{
    text-align: left;
    font-size: 13px;
}

.row.invoice-table-2 {
    margin-top: 50px;
}
/* End  Order invoice */

.alert.fade.in{
    display: none; 
}
.pdetail_head {
    float: left;
    padding: 0 10px;
}
.page-head.product_detail {
    float: left;
    padding: 0;
}
.up_btn_div {
    float: left;
    margin-left: 10px;
   /* margin-top: 38px;*/
    margin-top: 0px;
}
.pdes {
    float: left;
    width: 100%;
}
.product_image {
   /* border: 2px solid #c3c3c3;*/
   border: 1px solid #c3c3c3;
   border-radius: 50%;
    /*width: 177px;*/
    width: 177px;
    height: 177px !important;
    /*padding: 5px;*/
}
.product_image .content{
    background: white none repeat scroll 0 0;
    display: inline;
}
.product_details{
    margin-bottom: 0;
    padding-bottom: 0;
}
.tab_up_btn_div {
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: left;
}
.be-color-header .be-top-header .navbar-header .navbar-brand {
    background-image: url("../img/elliot-logo-white.svg");
}
.pmedia .dropzone {
    border: medium none;
    /*padding: 0;*/
}
.be-checkbox.inline.occ{
    margin-left: 0 !important;
}

/*For Account Profile*/
.profile-panel-heading {
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

form.coverrpzone {
    background: none !important;
    border: 0px !important;
    padding: 0px 0px 0px !important;
}
.coverrpzone {
    background: none !important;
    border: 0px !important;
    min-height:0px !important;
    padding: 0px !important;
}

.custom_drozone_css {
    background:none;
    border: 0px;
    min-height:opx;
    padding:0px;
    min-height:0px;
}

.texthover {
    width:100%;
    display:block;
    position:relative;
    text-align: center!important;
    margin-top:30px;}

.texthover img {
    display:none;
}

.texthover .overlay {
    position:absolute;
    top:0px;
    width:0;
    width:100%;
    height:100%;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.8);
    display:none;
}
.texthover:hover .overlay {
    display:block;
}

.span-cover-image-css {
    color:#fff;
}
/*for add + sign cover image*/
.span-cover-image-css .dz-default.dz-message > span {
    font-size: 110px;
}
/*End add + sign cover image*/

.profile_img_avatar {
    overflow: hidden;
}

.user-display-avatar .overlay1 {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 100%;

}
.user-display-avatar:hover .overlay1 {
    display:block;
}
.span-profile-image-css {
    color:#fff;
    font-size:11px;
}
.span-profile-image-css .dz-default.dz-message > span {
    font-size: 30px;
    font-weight: bold;
}
.addimg{
    display: inline-block;
    text-align: right;
    width: 100%;
}
.addlanguage{
    display: inline-block;
    text-align: right;
    width: 100%;
}
.transalte-language{
    padding-top:15px;
}
#wizard-store-connection .main-title{
    padding-top: 0;    
}
.estore .content > img{
    width: 100%;
    height: auto;
    padding: 20px;
}
.be-icons-nav > li.dropdown .dropdown-menu .footer a,.be-icons-nav > li.dropdown .dropdown-menu .footer a:hover {
    border-color: #2a75f3; 
    color: #fff; 
    background-color: #4285f4;
}



/*For product section*/
#product_image_dropzone-default1 {
    border: none;
}
.span-add-product-text {
    padding-top: 38px;
}
.product-texthover {
    width:100%;
    display:block;
    position:relative;
    text-align: center!important;
}

.product-texthover-default {
    /*width:100%;*/
    display:block;
    position:relative;
    text-align: center!important;
    background-color:white;
}

.product-texthover .product-overlay {
    position:absolute;
    top:0px;
    width:0;
    width:100%;
    height:100%;
    padding:10px;
    background-color:#fff;
    display:none;
    opacity: 0.5;
}

.product-texthover-default .product-default-overlay {
    position:absolute;
    top:0px;
    left:0px;
    width:0;
    width:100%;
    height:100%;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.8);
    display:none;
}

.product-texthover:hover .product-overlay {
    display:block;
}

.product-texthover-default:hover .product-default-overlay {
    display:block;
}

.span-product-image-css .dz-default.dz-message > span {
    /*color: #000;*/
    color:#4285f4;
    font-size: 50px;
    /*left: 70px;*/
    left: 74px;
    position: absolute;
    /*top: 55px;*/
    top: 50px
}

/*Font size*/
.f12{
    font-size:12px;
}
/*add snippet css provide client*/
.connected {border: solid #fff; background: #fff;}
.bs-grid-block:hover { border-color: #ffffff; cursor: pointer; }
.comingsoon {border: solid #e4e4e4; background-color: #e4e4e4;}
.comingsoon:hover {border: solid #e4e4e4; background-color: #e4e4e4;}
.connected:hover {border: solid #fff; background: #fff;}

/*add snippet css channels listing*/
.custom-span-channels-label {
    color: #fff;
    background-color: #4285f4;

}
.channel-modal-span-group {
    width:70px;
}
.bs-grid-block .content {

    height: 0px;

}
.bs-grid-block {
    height: 177px;
}

.span-top-22 {
    top: 22px;
}
.ch_img{
    max-height: 25px;
    width: auto;
    margin: 2px;
}

.latest-engagements .ch_img{
        max-height: 15px;
        width: auto;
        margin: 0px;
    }


.p_default_img{
    /*height: 177px;*/
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height:177px;
    border-radius:50%;
}
.setimg {
    margin-bottom: 8px;
    margin-top: -25px;
    text-align: center;
    color: #4285f4;
}
.pimg_save_btns {
    margin-bottom: 10px;
    margin-top: 5px;
}
.product_create_image .content{
    background: white none repeat scroll 0 0;
    display: inline;
}
.draggable-element {
    cursor: move;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.inpt_required{
    border:1px solid red;
}
.pmedia-update .bs-grid-block{
    height: auto;
}

.pmedia-update .span-product-image-css .dz-default.dz-message > span {
    left: 44%;
    position: absolute;
    top: 35%;
}

.checkrequired:before{
    border: 1px solid red !important;
}
.be-loading::after{
    z-index: 9999;
}
.be-loading .be-spinner{
    z-index: 99999;
}
.modal{
    z-index: 999999;
}
.form-group.vupld {
    padding: 0 5px;
}
.form-group.vfile {
    padding: 0 5px;
}
.product_update_image{
    border: 2px solid #c3c3c3;
}
.progress{
    /*display: none;*/
}
.note-btn {
    padding-left: 7px;
    padding-right: 7px;
}
.user-display-bg img{
    width: auto;
    max-width:300px;
}
.be-notifications .notification > a .notification-info{
    padding-left: 10px;
}
.notif_check{
    display: none;
    font-size: 15px;
}
.save_var_btn{
    text-align: right;
}
.CountriesLists li a {
     cursor: pointer;
}
#pvariation_tbl,#pvariation_tbl thead > tr th{
    text-align: center;
}
.pvarActions.icon,.pvarActions_update.icon{
    color: gray;
    font-size: 16px;
}
#skus_tbl,#skus_tbl thead > tr th{
    text-align: center;
}
#skus_tbl_wrapper .row {
    margin-bottom: 10px;
    margin-top: 10px;
    /*width: 100%;*/
}
#skus_tbl .option_name {
    font-weight: 700;
}
.addsku-btn{
    float: right;
    margin-bottom: 0;
}
.pskus_th{
    font-size: 16px;
}
.page-head{
    padding: 20px 0px 30px;
	width: 100%;
    display: inline-block;
}

.wechat_adminafterform{
    display:none;
}
.form-horizontal .control-label{
    font-weight: 600;
}

/**
* Shopif wizard css start here
**/

.shp_success_msg {
    width: 100%;
    display: inline-block;
    background: #36c336;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
}


.shp_error_msg {
    width: 100%;
    display: inline-block;
    background: #e05c5c;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
}

.connectstore_line{
        margin-top: 10px;
}

.store_logo100px .connection-item img {
  max-height: 100px;
  max-width: 100px;
}

.store_logo100px .connection-item {
    margin-top:45px;
}

.resize_Xiao{
    max-width: 100px;
}

.modal-body.tc-scroll {
    height: 350px;
    overflow: auto;
}
.revenueProducts h3{
    font-size: 13px;
}
.volumeProducts h3{
    font-size: 13px;
}

.panel-heading {
    padding: 20px 0px 20px;
}

.splash-container .panel .panel-heading{
  margin-bottom :0px; 
}
.dashboard_daterange .form-group{
    margin: 0px !important;
}
.dashboard_daterange .form-control{
    height: 0px !important;
    padding:0px !important;
}
/*.dashboard-main-content {
    padding: 0 25px 25px 25px !important;
}  */

#media .col-sm-3.be-loading {
    float: none;
    display: inline-block;
    width: 24.7%;
    vertical-align: top;
}
@media only screen and (max-width:992px){
#media .col-sm-3.be-loading {
    width: 32.7%;
}
}
@media only screen and (max-width:414px){
#media .col-sm-3.be-loading {
    width: 100%;
}
}


@media (max-width: 375px) {
    #gritter-notice-wrapper.bottom-right{
        right: 0px;
    }
}

.magento_image_container{
    border: 2px solid #eee;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
}

.magento_image_container img{
    width: 100%;
    display: inline-block;
    border-radius: 5px;
}

.magento-note{
    background: #fbf41e;
    padding: 7px 5px;
    border-radius: 3px;
    font-weight: 600;
}

.magento-store-name{
    font-size: 11px;
}

.hideplans{
    display:none;
}

.store_listing_container .store_listing_container_sub{
    min-height:230px;
}

.profile_add_new_member{
    margin-left:10px;
}

img.ch_img:not(:first-child) {
    margin-left: 15px;
}

.single_product_main_img{
    float:left;
    margin-right: 15px;
}

.pdetail_head{
   /* width:77%;*/
    width:80%;
}

/*For intercom*/
.intercom-launcher-frame{
    margin-right: 10px !important;
}
/*for people chart*/
#padding-panel-body{
    padding:30px 20px 40px;
}


/* For sign up modal text **/
.be_loader_modal_text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 99991;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    display: none;
}

.be-scroll-top{
    z-index: 9999;
}
span.country_names {
    margin-left: 15px !important;
}

.multiple-delete-button{
    clear: both;
}

.multiple-delete-button-wraper button {
    width: 75px;
}

/**Reena custom css 14-aug-2017**/

.be-datatable-footer {
background: #fff !important;
border: 1px solid #fff;
}
table.dataTable {
border: 1px solid #dedddd !important;
}
.multiple-delete-dropdown{
left: -166px;
}
div.dataTables_wrapper div.dataTables_processing {
width:0px !important;
}

.custom_delete_btn{
    border: medium none;
}

/**Reena custom css 18-aug-2017**/
.panel-heading.perf {
    margin: 0;
} 
.panel-heading.custom_Transs {    
    margin: 0;
}
.custom_Button_Class {
    margin: 15px 0px 0px 34px;
}
.live_color{
    color: #34A853;
    font-weight: bold;
}
.down_color {
    color: #EA4335;
    font-weight: bold;
}
.temp_color {
    color: orange;
    font-weight: bold;
}
.dashBOARD {
    color: #404040;
}
.TransLable {
    margin-top: 16px;
}
.FullLable {
    margin-top:6px;
}
.smartlingButtoN {
    margin-left: -14px;
}
/* .widget-head .tools .dropdown-menu { */
    /* left: 0 !important; */
/* } */
.newdashboard_container .btn-space  {
      margin-right: 0;
}

.timeline-item:nth-child(4n+1):before {
    border-color: #48b164 !important;
}

/*.single_product_main_img .span-add-product-text{
    display:none !important;
}*/

/*.customLaBeL {
    width: 100%;
}*/
.customMODAL .col-sm-3 {
    min-height: 100px;
}

#cats_tbl .editable-checklist{
	max-height:330px;
	overflow-y:auto;
}

.projection_slider_contaner .progress-value{
	float:right;
}

.carouseller__list .car__2{
	background-color:#fff;
}

.carouseller{
	padding:20px 0px;
}

.newdashboard_container .carouseller__left, .newdashboard_container .carouseller__right{
	top: 62%;
    transform: translateY(-50%);
    bottom: auto;
}

.newdashboard_container .carouseller__wrap{
	margin-top: 26px;
}

#updownrevenue .icon, #updownorders .icon, #updown_customer_acquisition .icon{
	height: 25px;
    width: 25px;
	padding: 0px;
	margin-right: 1px;
}

#updownrevenue .icon span, #updownorders .icon span, #updown_customer_acquisition .icon span{
	color:#fff;
}

.icon-container.carouseller__left1, .icon-container.carouseller__right1{
	padding:0px;
}
.carouseller__left1{
	position: absolute;
    z-index: 99;
    left: 0;
    top: 50%;
    background: transparent;
	cursor: pointer;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.carouseller__right1{
	position: absolute;
    right: 0;
    z-index: 99;
    top: 50%;
	background: transparent;
	cursor: pointer;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	
}

.topheader_elliot {
	padding-top:0px;
	padding-bottom:0px;
}
/*@media (max-width: 1366px){
#products_table1 tr td:nth-child(3){
    float: left;
    width: 200px;
}*/

.newdashboard_container {
    margin-left: 0;
    margin-right: 0;
}

.carouseller .icon-container .icon {
height: 37px;
 width: 37px;
 padding: 7px;

}

.graphnodata_cls{
	padding: 20%;
    position: relative;
}

.graphnodata_cls p{
	position: relative;
    left: 34%;
}

.carouseller__wrap h6{
	margin-bottom: 0px;
    margin-top: 5px;
}

.custom_class {
    width: 324px;
    float: right;
    background: #ffffff;
    margin-bottom: 10px;
    margin-right: 5px;
    position: relative;
    top: -17px;
    background: #eee;
}
.testing_aaa {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
span.date_title_aa {
    margin-right: 10px;
	margin-left: 10px;
}
.line_space {
    margin-right: 10px;
}

.carouseller__wrap h5{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.product_listing_title{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
    white-space: nowrap;
}
/*.panel-heading{
    padding :20px 20px 20px;
}*/

@media (max-width: 1280px){
#products_table1 tr td:nth-child(3) {
    float: left;
    overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
    width: 300px;
}
.channel_scrolling {
    float: left;
    width: 370px;
}
}



/* CSS for RESPONSIVE FOR DASHBOARD start here*/
@media only screen and (max-device-width : 1280px){
	#custombargraph5{
		min-height:378px;
	}
	
	.graphnodata_cls{
		padding: 20%;
		position: relative;
	}

	.graphnodata_cls p{
		position: relative;
		left: 24%;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    /* .panel-body{ */
        /* //padding-left:24%!important; */
    /* } */
	
	.chart-legend-horizontal > li {
		display: table-header-group;
		line-height: 20px;
	}
	ul.elliot_notif ul.tc-scroll{
		height: 350px;
		overflow-y: auto;
	}
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1920px){
    
    #customer_acquisition{
        height:304px!important;
    }
}


div#channel_id_translation_data {
    display: none;
}

.responsive_dropdown ul.dropdown-menu{
    left: auto;
}

.connected_store_name{
    position: relative;
    top: 3px;
}

.page-head .breadcrumb > .active {
    color: #4285f4;
}

a.non_link {
    cursor: default;
}

.button-middle{
	width: 180px;
    float: none;
    margin: 0 auto;
    display: inline-block;
}

.button-middle-inline{
	display: inline-block;
}

.credit_card_modal{
	width: 320px;
}

.input_icon .icon {
    float: left;
    position: absolute;
    top: 11px;
    font-size: 20px;
    left: 22px;
}

.input_icon{
	position: relative;
}

.input-padd{
	padding: 10px 28px;
}

.smartling_logo {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: -24px;
}

.smartling_logo img {
    width: 75px;
    border-radius: 50%;
    border: 2px solid #888282;
}

.smartling_logo button.close {
    position: relative;
    top: 35px;
    right: 10px;
}

#Translations .panel-body { padding: 8px 0px 20px;} #Performance .panel-body { padding: 8px 0px 20px;}













